# this is the "requirements.txt" file
# it might be helpful to use pandas. if you do, uncomment the last line below ...

requests
python-dotenv
# pandas 
#plotly express for imaging if we want to plot, make graphs, etc. 

#API key for me - SWE017PV0CTJW16

